{% extends "base.html" %}
{% block title %}新增獎項{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">新增獎項</h1>
      <div class="mb-3">
        <label for="award_name" class="form-label">Award Name</label>
        <input type="text" id="award_name" name="award_name" class="form-control" placeholder="Enter Award Name" required>
      </div>
      <div class="mb-3">
        <label for="government" class="form-label">Government</label>
        <input type="text" id="government" name="government" class="form-control" placeholder="Enter Government" required>
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="text" id="year" name="year" class="form-control" placeholder="Enter Year" required>
      </div>
      <div class="mb-3">
        <label for="awardtime" class="form-label">Time</label>
        <input type="text" id="awardtime" name="awardtime" placeholder="Enter Date"required>
      </div>
      <button type="submit" class="btn btn-primary">ADD</button>
  </form>
  <br>
{% endblock %}